.features {
  display: flex;
  flex-direction: column;

  align-items: stretch;
  padding: 0 2rem;

  max-width: 72rem;
  margin: auto auto 4rem;

  gap: 6rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
}

.featureText {
  max-width: 32rem;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .feature {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature.reverse {
    flex-direction: row-reverse;
  }
}

.featureSvg {
  flex: 1;

  max-height: 400px;
  max-width: 400px;
}
